@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'regularsf';
  src: url('./fonts/sfpro-regular.OTF');
  font-weight: 400;
}
$font-regularsf: "regularsf";

@font-face {
  font-family: 'boldsf';
  src: url('./fonts/sfpro-bold.OTF');
}
$font-boldsf: "boldsf";

html, body  {
  margin: 0; 
  min-height: 100vh; 
  overflow: hidden;
  background: #ebebed;
}

.font-sfregular {
  font-family: 'regularsf', sans-serif;
}

.font-sfbold {
  font-family: 'sfbold', serif;
}

body {
  font-family: 'regularsf', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,button {
  font-family: 'regularsf', 'sans-serif';
  color: #6b6b6b
}

*{
  --sb-track-color: transparent;
  --sb-thumb-color: #EBEBED;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}